body {
  font-family: Arial;
  background: #f4f4f4;
  text-align: center;
  padding: 20px;
}

.menu a {
  display: block;
  margin: 10px;
  padding: 10px;
  background: #4CAF50;
  color: white;
  text-decoration: none;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

table {
  margin: auto;
  width: 70%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #333;
  padding: 10px;
}
