body {
  font-family: Arial;
  padding: 20px;
  background: #f0f0f0;
}
section {
  margin-bottom: 30px;
  background: #fff;
  padding: 15px;
  border-radius: 8px;
}
input, select, button {
  margin: 5px;
  padding: 8px;
}
ul {
  list-style: none;
  padding-left: 0;
}

table {
  margin: auto;
  width: 70%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #333;
  padding: 10px;
}
